.ex_1{
    content: "";
    display: block;
    width: 1500px;
    height: 3px;
    margin: 40px auto;
    background-color: black;
    border-radius: 2px;
}
.ex_2{
    content: "";
    display: block;
    width: 1500px;
    height: 3px;
    margin: 40px auto;
    background-color: black;
    border-radius: 2px;
}
.ex_3{
    content: "";
    display: block;
    width: 1500px;
    height: 3px;
    margin: 40px auto;
    background-color: black;
    border-radius: 2px;
}